
<h1>About Alpha-Blog....</h1>
<p>Let’s begin with some definitions. A bit dry, we realize, but this is a necessary evil. First we’ll define the word this whole site is based around – blog.</p>
<p>A blog is a frequently updated online personal journal or diary. It is a place to express yourself to the world. A place to share your thoughts and your passions. Really, it’s anything you want it to be. For our purposes we’ll say that a blog is your own website that you are going to update on an ongoing basis. Blog is a short form for the word weblog and the two words are used interchangeably.</p>
<%= link_to 'Home', root_path %>
