<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alpha-blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="home">Alpha-Blog</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="home">Home</a></li>
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Page 1-1</a></li>
		          <li><a href="#">Page 1-2</a></li>
		          <li><a href="#">Page 1-3</a></li>
		        </ul>
		      </li>
		      <li><a href="about">About</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		    </ul>
		  </div>
		</nav>
	</header>

  <section>
  	<div class="container">
  		<!-- banner -->
  		<div class="banner">
  			<img src="/assets/blog_bg.jpg" class="img-rounded" alt="Blog_home image"/>
  		</div>
  		<!-- content -->
  		<div class="main-content">
  			<h1>About Alpha-Blog....</h1>
  			<p>Let’s begin with some definitions. A bit dry, we realize, but this is a necessary evil. First we’ll define the word this whole site is based around – blog.</p>
  			<p>A blog is a frequently updated online personal journal or diary. It is a place to express yourself to the world. A place to share your thoughts and your passions. Really, it’s anything you want it to be. For our purposes we’ll say that a blog is your own website that you are going to update on an ongoing basis. Blog is a short form for the word weblog and the two words are used interchangeably.</p>
  			<%= link_to 'Home', root_path %>
  		</div>
		</div>
  </section>

<style type="text/css">
	.banner img{
		height: 400px;
		width: 60%;
		margin: auto;
		display: block;
	}
	.main-content p{
		text-align: justify;
	}
</style>
</body>
</html>
