
<h1>Welcome to Alpha-Blog....</h1>
<p>So you’ve heard the term “blog” and you want to know what blogs are all about. Well you’ve come to the right place. In this series of articles we will take you from asking what a blog is to having all the knowledge you need to start a blog of your own.</p>
<p>Over the months and years you will be able to share your thoughts with hundreds or thousands of readers, promote yourself, your business or your cause and you may even earn a full time living from your blog.</p>
<%=  link_to "Alpha-Blog", articles_path %> | <%= link_to 'About', about_path %>
