$navbar-default-bg: #252525;

@import "bootstrap-sprockets";
@import "bootstrap";
/*header style*/
#logo{
	background: #f0300b;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#logo:hover{
	text-shadow: 0px 0px 5px;
	cursor: pointer;
	transform: 0.5s ease;
}
.navbar{
	border:0;
	border-radius: 0;
}
.navbar-default .navbar-nav > li > a{

}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	cursor: pointer;
}
.banner{
	background-image: asset-url('blog_home_bg.jpg');
	background-size: cover;
	height: 550px;
}
.banner h1{
	margin-top: 250px;
    color: #fff;
    font-weight: 100;
}
/*content style*/
h1{
	font-weight: 200;
	text-align: center;
}
body{
	/*background-color: #e8e6ed;*/
	background: #fff;
}
textarea {
    resize: none;
}
.create-blog{
	max-width: 600px;
	margin: auto;
}
.error-message{
	max-width: 600px;
    margin: 0 auto 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.show-blog{
	max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 50px;
  /*box-shadow: 0 5px 30px -6px #BBB9C0;*/

}
.show-blog-index{
	max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  /*box-shadow: 0 5px 30px -6px #BBB9C0;*/
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgba(0,0,0,.1)!important;
}
.show-blog-index h3{
	color: #373737;
	line-height: 1.2!important;
	font-size: 20px;
	font-weight: 700;
}
.show-blog-index p{
	color: rgba(0, 0, 0, 0.44);
	margin-bottom: 30px
}
.show-blog-index p:hover, .hover-none:hover{
	text-decoration: none !important;
}
.show-blog h2{
	text-align: center;
	font-size: 40px;
	font-weight: 700;
  line-height: 1.04;
  letter-spacing: -.028em;
}
.show-blog div p{
	text-align: justify;
	font-family: initial;
	font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}
.manipulate-article{
	display: block;
	text-align: center;
}
.manipulate-article ul{
	padding: 0;
	margin:0;
	list-style: none;
}
.manipulate-article ul li{
	display: inline-block;
	padding-right: 10px;
	color: #fff;
}
.manipulate-article ul li a{
	display: block !important;
	padding: 5px;
	border: 1px solid;
  border-radius: 50%;
}
.manipulate-article ul li a:hover{
	text-decoration: none;
	cursor: pointer;
}
.manipulate-article-index{
	position: absolute;
  top: 10px;
  right: 10px;
}
.manipulate-article-index ul{

}
.manipulate-article-index ul li{

}
.create-article-index{
	
}
.create-article-index a{
	
}
/*footer style*/
footer{
	background-color: #252525;
  padding: 10px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
footer p{
	color: #fff;
    text-align: center;
    letter-spacing: 0.8px;
    margin: 0;
}
.about-user{

}
.about-user:after{
	content: '';
	display: block;
	clear: both;
}
.about-user ul{
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	margin-top: 10px;
}
.about-user ul li:first-child{
	color: #333;
  font-weight: 800;
}
.user-img{
	float: left;
	padding-right: 10px;
}
.user-img img{
	height: 50px;
  width: 50px;
  border-radius: 50%;
}
.margin-bottom{
	margin-bottom: 50px;
}